{% extends "docentes/base_site.html" %}
{% load i18n adminmedia %}

{% block content %}
<div id="contentsim">
	<br />
	<img src="{% admin_media_prefix %}img/alertabig.png"/>
	<br />
	<h2>El curso seleccionado no tiene fórmula registradas, primero ingrese una fórmula</h2>
	<br />
	<a class="botones botonesverdes" href="../../">Menu</a>
	<br />
	<br />
</div>
{% endblock %} 