/* Este es el css del nuevo index que estoy armando como parte
 * del nuevo diseño del paquete basico
 */

html {
	height: 100%;
	width: 100%;


        background: url(/static/media/img/hogwartsBG.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/media/img/text2985.png', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/media/img/text2985.png', sizingMethod='scale')";

}


body {
	margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	color: white;
}

/* FOOTER */

#footer {
	position:absolute;
	bottom: 0px;
	margin: auto; 
	width: 100%;
}

#bienvenida {
	margin: 3% 30% 1%;
	width: 60%;
}

#bienvenida img {
	margin: 1% 30% 1.8% 30%;
}

/* Formularios estilos espesifico*/

#content {
	color:white;
    width: 90%;
    margin: auto;
    padding: 1.8% 2% 1.8% 2%;
    -webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-o-border-radius: 14px;
	border-radius: 14px;
    background: rgba(0, 0, 0, 0.5); /* The Fallback */
    /* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	-moz-box-shadow: 1px 1px 1px 1px #362F2F;
	-webkit-box-shadow: 1px 1px 1px px #362F2F;
	box-shadow: 1px 1px 1px 1px #362F2F;
}

#formulario {
	-moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
	position:relative;
	color:white;
	height:100%;
	width:30%;
	left:35%;
	margin: 20px 0px 40px 0px;
	padding-left:20px;
	background: rgba(0, 0, 0, 0.5); /* The Fallback */
    /* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	-moz-box-shadow: 1px 1px 1px 1px #362F2F;
	-webkit-box-shadow: 1px 1px 1px px #362F2F;
	box-shadow: 1px 1px 1px 1px #362F2F;
}

#formulario h1 {
	padding-top:20px;
	font-size:50px;
}

#formulario h2 {
}

#formulario img {
	display: block;
	padding: 10% 0px 5% 0px;
	margin: auto;
}

#formulario_box {
	top:8px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	-moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
	color: black;
	background-color: white;
	height:20%;
	width: 80%;
}

#formulario_box input {
	background:#DDDDDD;
	margin: auto;
	height: auto;
	width: 90%;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
}

.error {
	color: white;
    margin: 3.2% 0% 2.9% 0%;
    padding: 0.8%;
	background: red; 
	width: 90%;
	height: 20%;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -webkit-box-shadow: 0px 0px 7px black;
    -moz-box-shadow: 0px 0px 7px black;
    text-shadow: 0px 0px 7px black;
}
 
.botones {
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-box-shadow: 0px 0px 10px #666666;
    -moz-box-shadow: 0px 0px 10px #666666;
    text-shadow: 0px 1px 3px #666666;
    border: solid #d91c71 0px;
}

.botones:hover {
    -webkit-box-shadow: 0px 0px 10px white;
    -moz-box-shadow: 0px 0px 10px white;
    text-shadow: 0px 1px 3px white;
}

.botonesazules {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#3fa6fa), to(#05c9fa));
    background: -moz-linear-gradient(top, #3fa6fa, #05c9fa);
    background-color: #05c9fa;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#3fa6fa, endColorStr=#05c9fa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#3fa6fa, endColorStr=#05c9fa);
    display:inline-block; /* IE is so silly */
}

.botonesrojos {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f52525), to(#a30313));
    background: -moz-linear-gradient(top, #f52525, #a30313);
    background-color: #a30313;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f52525, endColorStr=#a30313);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f52525, endColorStr=#a30313);
    display:inline-block; /* IE is so silly */
}

.botonesverdes {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#27a600), to(#0a5900));
    background: -moz-linear-gradient(top, #27a600, #0a5900);
    background-color: #0a5900;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#27a600, endColorStr=#0a5900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#27a600, endColorStr=#0a5900);
    display:inline-block; /* IE is so silly */
}

.botonesamarillos {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ebd005), to(#9e9900));
    background: -moz-linear-gradient(top, #ebd005, #9e9900);
    background-color: #9e9900;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ebd005, endColorStr=#9e9900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ebd005, endColorStr=#9e9900);
    display:inline-block; /* IE is so silly */
}

/* LINKS */

a:link, a:visited {
	text-decoration: none;
	color: black;
}


a:hover {
    text-decoration: none;
    color: white; 
}


a img {
    border: none;
}

a.section:link, a.section:visited {
    color: white;
    text-decoration: none;
   
}

/* HEADER */

#header {
	background: rgba(0, 0, 0, 0.7);
    color: #ffc;
    overflow: hidden;
    /* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#header a:link, #header a:visited {
    color: white;
}

#header a:hover {
    text-decoration: underline;
}

#branding h1 {
    padding: 0 10px;
    font-size: 18px;
    margin: 8px 0;
    font-weight: normal;
    color: #f4f379;
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}

#user-tools {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
}

#user-tools img {
	margin-top: -5px;
	padding-right: 8px;
}

/* Formularios */



/* contenido */

.contenido {
	color: black;
	width: 80%;
}
