{% load i18n %}
<!DOCTYPE html>
<html lang="ES">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Colegío {% block title %} {{ title }} {% endblock %}</title>
		<meta name="description" content="" />
		<meta name="author" content="wilson coronado barrantes" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/index/new_index.css{% endblock %}" />
		{% block extrastyle %}{% endblock %} <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
		<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>

	<body>
			<!-- Header -->
				    <div id="header">
				        <div id="branding">
				        	<h1>Bienvenidos</h1>
				        </div>
				        	
				        <div id="user-tools">
				        	<a href="/j/login"><img src="{% admin_media_prefix %}img/ingresoadmin.png" align="middle"  />Acceder al sistema</a>
				        </div>
				    </div>
    		<!-- END Header -->
    		
    		<!-- contenido -->
					<div class="contenido">
						{% include 'anuncios/index_anuncios.html' %}
						{% block content%}
						{% endblock %}
					</div>
			<!-- END contenido -->
			
			<!-- formulario -->
					{% block loguin %}
					{% endblock %}
			
			<!-- END formulario -->
			
			<!-- Footer-->
		
			<!-- END Footer -->		
			</div>
	</body>
</html>
