<!-- El template del home de la pagina osea la bienvenida  -->
{% extends "base_index.html" %}
{% load i18n adminmedia %}

{% block title %}{% trans 'Joshikousei' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Bienvenido al Colegio Joshikousei' %}</h1>
{% endblock %}

{% block content %}
<div id="bienvenida">
	<img src="{% admin_media_prefix %}img/logodelcolegio.png" align="middle"  />
	<div id="content">
		<h2>Bienvenidos:</h2>
		<p><!-- start slipsum code -->

			Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

		<!-- please do not remove this line -->
		</p>
<div>

{% endblock %}

