{% extends "admin/base_site.html" %}
{% load i18n adminmedia  %}

{% block title %}{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
{{ links|escape }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
        <h1>{{ mensaje|escape }}</h1>
</div>
{% endblock %}