{% extends "docentes/base_site.html" %}
{% load i18n adminmedia %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<script type="text/javascript" src="{% admin_media_prefix %}js/docentes/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/docentes/jquery-ui-personalized-1.5.2.packed.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/docentes/sprinkle.js"></script>

        <h2>Administrar Asistencias</h2>
        <h3>Seleccione el curso que desee ingresar Asistencias</h3>
        <div id="tabvanilla" class="widget">

            <ul class="tabnav">
                <li><a href="#popular">Curso #1</a></li>
                <li><a href="#recent">Curso #2</a></li>
                <li><a href="#featured">Curso #3</a></li>
            </ul>

            <div id="popular" class="tabdiv">
                <ul>
                <h1>Tabla #1</h1>
                <table border="1" bordercolor="#FFCC00" style="background-color:#FFFFCC" width="400" cellpadding="3" cellspacing="3">
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                    </table>
                    <p style="font-family:verdana,arial,sans-serif;font-size:10px;"><a href="http://www.quackit.com/html/html_table_tutorial.cfm" target="_top">HTML Tables #1</a></p>
                </ul>
            </div><!--/popular-->
            
            <div id="recent" class="tabdiv">
                <ul>
                <h1>Tabla #2</h1>
                <table border="1" bordercolor="#FFCC00" style="background-color:#FFFFCC" width="400" cellpadding="3" cellspacing="3">
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                    </table>
                    <p style="font-family:verdana,arial,sans-serif;font-size:10px;"><a href="http://www.quackit.com/html/html_table_tutorial.cfm" target="_top">HTML Tables #2</a></p>
                </ul>
            </div><!--/recent-->
            
            <div id="featured" class="tabdiv">
                <ul>
                <h1>Tabla #3</h1>
                <table border="1" bordercolor="#FFCC00" style="background-color:#FFFFCC" width="400" cellpadding="3" cellspacing="3">
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                    </table>
                    <p style="font-family:verdana,arial,sans-serif;font-size:10px;"><a href="http://www.quackit.com/html/html_table_tutorial.cfm" target="_top">HTML Tables #3</a></p>
                </ul>
            </div><!--featured-->

        </div><!--/widget-->
        <br />
        <br />
        <br />
        <br />

<div class="menu-footer">
    <ul class="listaprofile">
                <li>
                    <a class="botonfooter grices" href="/j/profile/docentes">Inicio</a> 
                </li>
                <li>
                    <a class="botonfooter azules" href="/j/profile/docentes/administrarcalificaciones">Agregar Notas</a> 
                </li>
                <li>
                    <a class="botonfooter verdes" href="/j/profile/docentes/reporte_alumnos">Generar Reportes</a> 
                </li>
                <li>
                    <a class="botonfooter amarillos" href="/j/profile/docentes/administrarcursos">Administrar Cursos</a> 
                </li>
    </ul>
</div>

{% endblock %}