{% extends "docentes/base_site.html" %}
{% load i18n adminmedia %}

{% block extrahead %}{{ form.media }}
{% endblock %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-notas">
    {% if unidades.count > 0 %} <h1>CURSO: {{ unidades.1.periodo_seccion_curso.curso }}</h1>
    <br />
    <form action="." method="POST" >
        {% csrf_token %}
            <table class="tabla-notas">
                <thead>
                    <tr>
                        <th></th>
                        {% for unidad in unidades %}
                        <th colspan="{{ unidad.criterios.count }}" rowspan="1" align="middle">{{ unidad }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alumno</td>
                        {% for unidad in unidades %}
                        {% for criterio in unidad.criterios %} <td align="middle">{{ criterio.abreviatura }}</td>
                        {% endfor %}
                        {% endfor %}
                    </tr>
                    {% for alumno in lista_alumnos %}
                    <tr>
                        <td>{{ alumno.0.alumno }}</td>
                        {% if alumno.1 %}
                        {% for ca in alumno.1 %} <td>
                        <input id="notas" type="text" size="6" name="{{ alumno.0.id }}-{{ ca.criterio.id }}" value="{% if ca.valor %}{{ ca.valor }}{% else %}0.00{% endif %}" />
                        </td>
                        {% endfor %}
                        {% else %}
                        {% for unidad in unidades %}
                        {% for criterio in unidad.criterios %} <td>
                        <input id="notas" type="text" size="6" name="{{ alumno.0.id }}-{{ criterio.id }}" value="0.00" />
                        </td>
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
                <p>Hacer Click en el poton para grabar</p>
                <button class="botones botonesverdes" id="grabarnotas" type="submit">Grabar</button>
                <a class="botones botonesrojos" href="../../" >Atrás</a>
            <br />
            <br />
            <br />
</div>

</form>


<br />
{% else %} <h1>CREAR UNIDADES PARA EL CURSO</h1>
{% endif %}

{% endblock %}