{% extends "docentes/base_site.html" %}
{% load i18n adminmedia %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
<script type="text/javascript" src="{% admin_media_prefix %}js/docentes/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/docentes/jquery-ui-personalized-1.5.2.packed.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/docentes/sprinkle.js"></script>
        
        <h1>Administrar Calificaciones</h1>
        <h3>Seleccione el curso que desee ingresar Calificaciones</h3>
        <div id="tabvanilla" >

            <ul class="tabnav">
                <li><a href="#popular">Curso #1</a></li>
                <li><a href="#recent">Curso #2</a></li>
                <li><a href="#featured">Curso #3</a></li>
            </ul>

            <div id="popular" class="tabdiv">
                <ul>
                <h1>Tabla #1</h1>
                <form id="search-form-Notas">
                    <input type="text" placeholder="Puedes buscar informacion del nombre del alumno por nombre o numero de orden"/>
                    <input type="submit" value="Buscar" />
                </form>
                <table border="1" bordercolor="#FFCC00" style="background-color:#FFFFCC" width="400" cellpadding="3" cellspacing="3">
                            <thead>
                                <td>campo 1</td>
                                <td>campo 2</td>
                                <td>campo 3</td>
                                <td>campo 4</td>
                                <td>campo 5</td>
                                <td>campo 6</td>
                                <td>campo 7</td>
                                <td>campo 8</td>
                                <td>campo 9</td>
                                <td>campo 10</td>
                                <td>campo 11</td>
                                <td>campo 12</td>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                    </table>
                    <p style="font-family:verdana,arial,sans-serif;font-size:10px;">Paginas: << anterior 1, 2, 3, 4  siguiente >></p>
                <form id="search-form-Notas">    
                 <input type="file" value="Buscar" />
                </form>    
                </ul>
            </div><!--/popular-->
            
            <div id="recent" class="tabdiv">
                <ul>
                <h1>Tabla #2</h1>
                <form id="search-form-Notas">
                    <input type="text" placeholder="Puedes buscar informacion del nombre del alumno por nombre o numero de orden"/>
                    <input type="submit" value="Buscar" />
                </form>
                <table border="1" bordercolor="#FFCC00" style="background-color:#FFFFCC" width="400" cellpadding="3" cellspacing="3">
                            <thead>
                                <td>campo 1</td>
                                <td>campo 2</td>
                                <td>campo 3</td>
                                <td>campo 4</td>
                                <td>campo 5</td>
                                <td>campo 6</td>
                                <td>campo 7</td>
                                <td>campo 8</td>
                                <td>campo 9</td>
                                <td>campo 10</td>
                                <td>campo 11</td>
                                <td>campo 12</td>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                    </table>
                    <p style="font-family:verdana,arial,sans-serif;font-size:10px;">Paginas: << anterior 1, 2, 3, 4  siguiente >></p>
                <form id="search-form-Notas">    
                 <input type="file" value="Buscar" />
                </form>
            </div><!--/recent-->
            
            <div id="featured" class="tabdiv">
                <ul>
                <h1>Tabla #3</h1>
                <form id="search-form-Notas">
                    <input type="text" placeholder="Puedes buscar informacion del nombre del alumno por nombre o numero de orden"/>
                    <input type="submit" value="Buscar" />
                </form>
                <table border="1" bordercolor="#FFCC00" style="background-color:#FFFFCC" width="400" cellpadding="3" cellspacing="3">
                            <thead>
                                <td>campo 1</td>
                                <td>campo 2</td>
                                <td>campo 3</td>
                                <td>campo 4</td>
                                <td>campo 5</td>
                                <td>campo 6</td>
                                <td>campo 7</td>
                                <td>campo 8</td>
                                <td>campo 9</td>
                                <td>campo 10</td>
                                <td>campo 11</td>
                                <td>campo 12</td>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                                <td>Table Cell</td>
                            </tr>
                    </table>
                    <p style="font-family:verdana,arial,sans-serif;font-size:10px;">Paginas: << anterior 1, 2, 3, 4  siguiente >></p>
                <form id="search-form-Notas">    
                 <input type="file" value="Buscar" />
                </form>
            </div><!--featured-->
        </div><!--/widget-->
        <br />
        <br />
        <br />
        <br />
<div class="menu-footer">
    <ul class="listaprofile">
                <li>
                    <a class="botonfooter grices" href="/j/profile/docentes">Inicio</a> 
                </li>
                <li>
                    <a class="botonfooter rojos" href="/j/profile/docentes/administrarasistencias">Agregar Asistencias</a> 
                </li>
                <li>
                    <a class="botonfooter verdes" href="/j/profile/docentes/reporte_alumnos">Generar Reportes</a> 
                </li>
                <li>
                    <a class="botonfooter amarillos" href="/j/profile/docentes/administrarcursos">Administrar Cursos</a> 
                </li>
    </ul>
</div>

{% endblock %}