{% extends "docentes/base_site.html" %}
{% load i18n adminmedia %}

{% block extrahead %}{{ form.media }}
{% endblock %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-conf-formula">

{% if unidades.count > 0 %}
    <h1>CURSO: {{ unidades.1.periodo_seccion_curso.curso }}</h1>
    <h2>Lista de Unidades</h2>
    <h3>Seleccione la unidad si decesa modificar los criterios de evaluacion de esa unidad.</h3>
    <div class="bloque-botones">
    <div id="content-sub-1">
    <table  class="tabla-notas">
        <thead>
        <tr>
            <td class="row1">Nº</td>
            <td class="row1">Fórmula</td>
        </tr>
        </thead>
        <tbody>
        {% for unidad in unidades %}
        <tr>
            <td><a href="../addcriterios/{{ unidad.id }}">{{ unidad }}</a></td>
            <td><div align="center">{{ unidad.formula|safe }}<div></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <br />    
    <a class="botones rojos" href="../" >Atrás</a>
{% else %}
    <h1>Crear Unidades Para el Cursos</h1>
    <h3>Aqui puedes ingresar el Numero de unidades en las que se va a dividir el curso.</h3>
    <br />
    <br />
    {% if msg %}
        <div id="msg">
           <p>{{ msg }}</p>
        </div>
    {% endif %}
    {% if form %}
        <form action="." method="POST" >{% csrf_token %}
            <div id="content-sub-1">
                {{ form.cantidad.label }}: {{ form.cantidad }} <br />
                ¿Misma fórmula para todas las unidades del curso?: {{ form.duplicar }} <br />
            </div>
            <br />
            <button class="botones verdes" type="submit" value="Crear Unidades">Grabar</button>
            <a class="botones rojos" href="../" >Atrás</a>
        </form>
    {% endif %}
{% endif %}
<br />
</div>
</div>
<div class="menu-footer">
    <ul class="listaprofile">
                <li>
                    <a class="botonfooter grices" href="/j/profile/docentes">Inicio</a> 
                </li>
                <li>
                    <a class="botonfooter azules" href="/j/profile/docentes/administrarcalificaciones">Agregar Notas</a> 
                </li>
                <li>
                    <a class="botonfooter rojos" href="/j/profile/docentes/administrarasistencias">Agregar Asistencias</a> 
                </li>
                <li>
                    <a class="botonfooter verdes" href="/j/profile/docentes/reporte_alumnos">Generar Reportes</a> 
                </li>
    </ul>
</div>
{% endblock %}