{% extends "docentes/base_site.html" %}
{% load i18n adminmedia %}

{% block extrahead %}

<script type="text/javascript" src="{% admin_media_prefix %}/js/jquery.min.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}/js/jquery.formset.js"></script>

<script type="text/javascript">
    $(function() {
        $('#id_criterios_table tbody tr').formset({
            extraClasses: ['row1', 'row2', 'row3']
        })
    })
</script>
<!-- Here's an example of how you can style add/delete buttons with CSS -->
<style type="text/css">
    .add-row {
        padding-left:18px;
        background:url({% admin_media_prefix %}img/formsets/add.png) no-repeat left center;
    }
    .delete-row {
        float:right;
        display:block;
        margin:5px 0 0 5px;
        text-indent:-6000px;
        background:url({% admin_media_prefix %}img/formsets/delete.png) no-repeat left center;
        width:16px;
        height:16px;
    }
    tr.row1 td { background-color: #f9f9f9; }
    tr.row2 td { background-color: #f3f3f3; }
    tr.row3 td { background-color: #ededed; }
</style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-conf-formula">
    <h1>Crear criterios para {{ unidad }} del curso "{{ unidad.periodo_seccion_curso.curso }}"</h1>
    <h3>Aqui estan los criterios de evaluación para el curso. Puede agregar o quitar segun sea convenido.</h3>
    <br />
    <div class="bloque-botones">
        <form action="." method="POST" >{% csrf_token %}
            <table class="tabla-notas" id="id_criterios_table" border="0" cellpadding="0" cellspacing="5">
                <thead>
                    <tr>
                        <th scope="col">Descripción</th>
                        <th scope="col">Abreviatura</th>
                        <th scope="col">Peso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset.forms %}
                    {{ form.errors }}
                    <tr id="{{ form.prefix }}-row">
                        <td>{{ form.descripcion }}</td>
                        <td>{{ form.abreviatura }}</td>
                        <td>{{ form.peso }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                {{ formset.management_form }}
                <button class="botones verdes" type="submit">Grabar</button>
            </p>
        </form>
        </div>
        <br />    
        <a class="botones rojos" href="../../" >Atrás</a>
</div>
<br />
<br />
<br />
<div class="menu-footer">
    <ul class="listaprofile">
                <li>
                    <a class="botonfooter grices" href="/j/profile/docentes">Inicio</a> 
                </li>
                <li>
                    <a class="botonfooter azules" href="/j/profile/docentes/administrarcalificaciones">Agregar Notas</a> 
                </li>
                <li>
                    <a class="botonfooter rojos" href="/j/profile/docentes/administrarasistencias">Agregar Asistencias</a> 
                </li>
                <li>
                    <a class="botonfooter verdes" href="/j/profile/docentes/reporte_alumnos">Generar Reportes</a> 
                </li>
                <li>
                    <a class="botonfooter amarillos" href="/j/profile/docentes/administrarcursos">Administrar Cursos</a> 
                </li>
    </ul>
</div>
{% endblock %}