{% extends "docentes/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-conf">
	</br> 
	<h1>ADMINISTRAR CURSOS</h1>
	<div id="content-sub-1">
		<h3>
			 Antes de hacer cualquier cambio en  la formula de la calificación de cualquiera de los cursos tiene que consultar antes con su área académica.
		</h3>
		</br>
		<h2>Lista de Cursos:</h2>
		<div id="content-cursos">
			<div class="bloque-botones">
			<ul class="listaprofile">
				{% for dc in docente_cursos %}
				<li>
					<a class="botones azules" href="{{ dc.periodo_seccion_curso.id }}/">{{ dc.periodo_seccion_curso.curso }}</a>
				</li>
				{% endfor %}
			</ul>
			</div>
		</div>
		<br />
		<a class="botones rojos" href="../" >Atrás</a>
	</div>
</div>
<div class="menu-footer">
    <ul class="listaprofile">
                <li>
                    <a class="botonfooter grices" href="/j/profile/docentes">Inicio</a> 
                </li>
                <li>
                    <a class="botonfooter azules" href="/j/profile/docentes/administrarcalificaciones">Agregar Notas</a> 
                </li>
                <li>
                    <a class="botonfooter rojos" href="/j/profile/docentes/administrarasistencias">Agregar Asistencias</a> 
                </li>
                <li>
                    <a class="botonfooter verdes" href="/j/profile/docentes/reporte_alumnos">Generar Reportes</a> 
                </li>
    </ul>
</div>
{% endblock %}