{% extends "base_intranet.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Administración Docentes' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a class="titulolink" href="/j/profile/docentes/">{% trans 'Administración Docentes' %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
