{% extends "docentes/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
            <ul class="listaprofile">
            <h1>Interfaz de Docente</h1>
			<h2>Seleccione las operaciones a realizar</h2>
                <li>
                    <a class="botondb azules" href="administrarcalificaciones/">Agregar<br>Notas</a> 
                </li>
                <li>
                    <a class="botondb rojos" href="administrarasistencias/">Agregar<br>Asistencias</a> 
                </li>
                <li>
                    <a class="botondb verdes" href="reporte_alumnos/">Generar<br>Reportes</a> 
                </li>
                <li>
                	<a class="botondb amarillos" href="administrarcursos/">Administrar<br>Cursos</a> 
                </li>
            </ul>
<a class="botones grices" href="../" >Seleccion<br /> de perfil</a>
{% endblock %}
