{% extends "docentes/base_site.html" %}
{% load i18n adminmedia %}

{% block extrahead %}{{ form.media }}
{% endblock %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-notas">
    <h1>Reporte de Alumnos Matriculados</h1>
    <br />
    <form action="." method="POST" >
        {% csrf_token %}
            <table class="tabla-notas">
                <thead>
                    <tr>
                        <th></th>
                        <th align="middle">Alumno</th>
                        <th align="middle">Matricula</th>
                    </tr>
                </thead>
                <tbody>
                {% for alumno in alumnos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td align="left"><a href="{{ alumno.alumno.id }}">{{ alumno.alumno }}</a></td>
                        <td align="middle">{{ alumno.periodo_seccion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
                <p>Hacer Click en el poton para grabar</p>
                <button class="botones verdes" id="grabarnotas" type="submit">Grabar</button>
                <a class="botones rojos" href="../" >Atrás</a>
            <br />
            <br />
</div>
</form>

<br />

<div class="menu-footer">
    <ul class="listaprofile">
                <li>
                    <a class="botonfooter grices" href="/j/profile/docentes">Inicio</a> 
                </li>
                <li>
                    <a class="botonfooter azules" href="/j/profile/docentes/administrarcalificaciones">Agregar Notas</a> 
                </li>
                <li>
                    <a class="botonfooter rojos" href="/j/profile/docentes/administrarasistencias">Agregar Asistencias</a> 
                </li>
                <li>
                    <a class="botonfooter amarillos" href="/j/profile/docentes/administrarcursos">Administrar Cursos</a> 
                </li>
    </ul>
</div>
{% endblock %}