/*
para Docentes
*/

html {
		height: 100%;
		width: 100%;
        background-color: #DDD;
		background: url(/static/media/img/logodelcolegio.png) 98% 98% no-repeat, url(/static/media/img/diagonal-noise.png);
}


body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
}


/* LINKS */

a:link, a:visited {
	text-decoration: none;
	color: white;
}


a:hover {
    text-decoration: none;
    color: white; 
}


a img {
    border: none;
}

a.section:link, a.section:visited {
    color: white;
    text-decoration: none;
   
}
	

/* color del link de regreso al home que va en la barra de menu */

	a.titulolink:link, a.titulolink:visited {
		color: white;
	    text-decoration: none;
	}   
	
	a.titulolink:hover {
		color: #ccc;
		text-decoration: none;
	}
	

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
	color: black;
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
   
}

h1 {
    font-size: 34px;
    color: white;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
}

h2 {
    font-size: 16px;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
}

h2.subhead {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    font-size: 12px;
    margin: .8em 0 .3em 0;
    color: white;
}

h4 {
    font-size: 12px;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 10px;
    margin: 1.5em 0 .5em 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Links de la lista del profile.html de la parte de crear reportes para que salga ordenado */


/* botones */

.boton {
    height:160px;
    width: 160px;
    text-align:left;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    margin: 2.7% 2.7% 2.7% 2.7%;
    text-decoration: none;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-box-shadow: 0px 0px 10px #666666;
    -moz-box-shadow: 0px 0px 10px #666666;
    text-shadow: 0px 1px 3px #666666;
    border: solid #d91c71 0px;
    background: #3fa6fa;
}

.boton img {
    margin: 0 auto;
}

.boton:hover {
    -webkit-box-shadow: 0px 0px 10px white;
    -moz-box-shadow: 0px 0px 10px white;
    text-shadow: 0px 1px 3px white;
}

.boton:active {
    -webkit-box-shadow: 0px 0px 10px black;
    -moz-box-shadow: 0px 0px 10px black;
    text-shadow: 0px 1px 3px black;
}

.azul {
    background: #00A0B0;
}

.marron {
    background: #A79B83;
}

.botones {
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-box-shadow: 0px 0px 10px #666666;
    -moz-box-shadow: 0px 0px 10px #666666;
    text-shadow: 0px 1px 3px #666666;
    border: solid #d91c71 0px;
}

.botones:hover {
    -webkit-box-shadow: 0px 0px 10px white;
    -moz-box-shadow: 0px 0px 10px white;
    text-shadow: 0px 1px 3px white;
}

.botonesazules {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#3fa6fa), to(#05c9fa));
    background: -moz-linear-gradient(top, #3fa6fa, #05c9fa);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#3fa6fa, endColorStr=#05c9fa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#3fa6fa, endColorStr=#05c9fa);
    display:inline-block; /* IE is so silly */
}

.botonesrojos {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f52525), to(#a30313));
    background: -moz-linear-gradient(top, #f52525, #a30313);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f52525, endColorStr=#a30313);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f52525, endColorStr=#a30313);
    display:inline-block; /* IE is so silly */
}

.botonesverdes {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#27a600), to(#0a5900));
    background: -moz-linear-gradient(top, #27a600, #0a5900);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#27a600, endColorStr=#0a5900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#27a600, endColorStr=#0a5900);
    display:inline-block; /* IE is so silly */
}

.botonesamarillos {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ebd005), to(#9e9900));
    background: -moz-linear-gradient(top, #ebd005, #9e9900);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ebd005, endColorStr=#9e9900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ebd005, endColorStr=#9e9900);
    display:inline-block; /* IE is so silly */
}

/* listas */

ul.listaprofile li {
    
	list-style: none;
	display: inline;
}

.listaprofile h1 h3 h2 {
    color: black;
}

ul li {
    list-style-type: none;
    padding: 1px 0;
}

ul.plainlist {
    margin-left: 0 !important;
}

ul.plainlist li {
    list-style-type: none;
}

li ul {
    margin-bottom: 0;
}

li, dt, dd {
    font-size: 11px;
    line-height: 14px;
}

dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

blockquote {
    font-size: 11px;
    color: #777;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

code, pre {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    background: inherit;
    color: #666;
    font-size: 11px;
}

pre.literal-block {
    margin: 10px;
    background: #eee;
    padding: 6px 8px;
}

code strong {
    color: #930;
}

hr {
    clear: both;
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
}

/* TEXT STYLES & MODIFIERS */

#listacursos {
	font-size: 18px;
}

.small {
    font-size: 11px;
}

.tiny {
    font-size: 10px;
}

p.tiny {
    margin-top: -2px;
}

.mini {
    font-size: 9px;
}

p.mini {
    margin-top: -3px;
}

.help, p.help {
    font-size: 10px !important;
    color: #999;
}

p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #999 !important;
    font-weight: normal !important;
}

.quiet strong {
    font-weight: bold !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.example {
    margin: 10px 0;
    padding: 5px 10px;
    background: #efefef;
}

.nowrap {
    white-space: nowrap;
}

.bloque-botones {
    padding: 3% 3% 3% 3%;
	background-color:#EEEEEE;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;	
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: inset  0 0 2px rgba(0, 0, 0, 1);
}

.bloque-anuncios {
	background-color: white;
}

/* TABLES */

table, th, td
{
border: 0px solid black;
color: black;
background-color: transparent;
}

.tabla-notas {
    font-family:Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1.7em;
    text-align:center;
    border-collapse:collapse;
}
.tabla-notas thead th{
    padding:6px 10px;
    text-transform:uppercase;
    color:#444;
    font-weight:bold;
    text-shadow:1px 1px 1px #fff;
    border-bottom:5px solid #444;
}
.tabla-notas thead th:empty{
    background:transparent;
    border:none;
}
.tabla-notas thead :nth-child(2),
.tabla-notas tfoot :nth-child(2){
    background-color: #7FD2FF;
}
.tabla-notas tfoot :nth-child(2){
    -moz-border-radius:0px 0px 0px 5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
}
.tabla-notas thead :nth-child(2){
    -moz-border-radius:5px 0px 0px 0px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
}
.tabla-notas thead :nth-child(3),
.tabla-notas tfoot :nth-child(3){
    background-color: #45A8DF;
}
.tabla-notas thead :nth-child(4),
.tabla-notas tfoot :nth-child(4){
    background-color: #2388BF;
}
.tabla-notas thead :nth-child(5),
.tabla-notas tfoot :nth-child(5){
    background-color: #096A9F;
}
.tabla-notas thead :nth-child(5){
    -moz-border-radius:0px 5px 0px 0px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
}
.tabla-notas tfoot :nth-child(5){
    -moz-border-radius:0px 0px 5px 0px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}
.tabla-notas tfoot td{
    font-size:26px;
    padding:15px 0px;
    text-shadow:1px 1px 1px #fff;
}
.tabla-notas tbody td{
    padding:10px;
}
.tabla-notas tbody tr:nth-child(4) td{
    font-size:26px;
}
.tabla-notas tbody td:nth-child(even){
    background-color:#444;
    color:#444;
    border-bottom:1px solid #444;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(189,189,189)),
        color-stop(0.7, rgb(224,224,224))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(189,189,189) 39%,
        rgb(224,224,224) 70%
        );
    text-shadow:1px 1px 1px #fff;
}
.tabla-notas tbody td:nth-child(odd){
    background-color:#555;
    color:#f0f0f0;
    border-bottom:1px solid #444;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(85,85,85)),
        color-stop(0.7, rgb(105,105,105))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(85,85,85) 39%,
        rgb(105,105,105) 70%
        );
    text-shadow:1px 1px 1px #000;
}
.tabla-notas tbody td:nth-last-child(1){
    border-right:1px solid #222;
}
.tabla-notas tbody th{
    color:#696969;
    text-align:right;
    padding:0px 10px;
    border-right:1px solid #aaa;
}
.tabla-notas tbody span.check::before{
    content : url(../images/check2.png)
}    

/* FORM DEFAULTS */

input, textarea, select, .form-row p {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

textarea {
    vertical-align: top !important;
}

input[type=text], input[type=password], textarea, select, .vTextField {
    border: 1px solid #ccc;
}

/* FORM BUTTONS */

.button, input[type=submit], input[type=button], .submit-row input {
    background: white url(../img/admin/nav-bg.gif) bottom repeat-x;
    padding: 3px 5px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
}

.button:active, input[type=submit]:active, input[type=button]:active {
    background-image: url(../img/admin/nav-bg-reverse.gif);
    background-position: top;
}

.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
	background-image: url(../img/admin/nav-bg.gif);
	background-position: bottom;
	opacity: 0.4;
}

.button.default, input[type=submit].default, .submit-row input.default {
    border: 2px solid #5b80b2;
    background: #7CA0C7 url(../img/admin/default-bg.gif) bottom repeat-x;
    font-weight: bold;
    color: white;
    float: right;
}

.button.default:active, input[type=submit].default:active {
    background-image: url(../img/admin/default-bg-reverse.gif);
    background-position: top;
}

.button[disabled].default, input[type=submit][disabled].default, input[type=button][disabled].default {
	background-image: url(../img/admin/default-bg.gif);
	background-position: bottom;
	opacity: 0.4;
}


/* MODULES */

/*cuadro del registro de acciones*/

.module {
	position:fixed;
	top:62px;
	right:1%;
	width:260px;
    border: 1px solid white;
    margin-bottom: 5px;
    background: white;
    -webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
}

.module blockquote {
    margin-left: 12px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    /*background: #7CA0C7 url(../img/admin/default-bg.gif) top left repeat-x;*/
    color: white;
}

.module table {
    border-collapse: collapse;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(../img/admin/icon_success.gif) 5px .3em no-repeat;
}

ul.messagelist li.warning{
    background-image: url(../img/admin/icon_alert.gif);
}

ul.messagelist li.error{
    background-image: url(../img/admin/icon_error.gif);
}

.errornote {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: red;
    background: #ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background: red url(../img/admin/icon_alert.gif) 5px .3em no-repeat;
}

.errorlist li a {
 	color: white;
    text-decoration: underline;
}

td ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.errors {
    background: #ffc;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid red;
}

div.system-message {
    background: #ffc;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: red;
    background: #ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat;
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}

/* BREADCRUMBS */

div.breadcrumbs {
    background: white url(../img/admin/nav-bg-reverse.gif) 0 -10px repeat-x;
    padding: 2px 8px 3px 8px;
    font-size: 11px;
    color: #999;
    border-top: 1px solid white;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

/* ACTION ICONS */

.addlink {
    padding-left: 12px;
    background: url(../img/admin/icon_addlink.gif) 0 .2em no-repeat;
}

.changelink {
    padding-left: 12px;
    background: url(../img/admin/icon_changelink.gif) 0 .2em no-repeat;
}

.deletelink {
    padding-left: 12px;
    background: url(../img/admin/icon_deletelink.gif) 0 .25em no-repeat;
}

a.deletelink:link, a.deletelink:visited {
    color: #CC3434;
}

a.deletelink:hover {
    color: #993333;
}

/* OBJECT TOOLS */

.object-tools {
    font-size: 10px;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -2.4em;
    margin-bottom: -2em;
}

.form-row .object-tools {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    height: 2em;
    padding-left: 3.5em;
}

.object-tools li {
    display: block;
    float: left;
    background: url(../img/admin/tool-left.gif) 0 0 no-repeat;
    padding: 0 0 0 8px;
    margin-left: 2px;
    height: 16px;
}

.object-tools li:hover {
    background: url(../img/admin/tool-left_over.gif) 0 0 no-repeat;
}

.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
    color: white;
    padding: .1em 14px .1em 8px;
    height: 14px;
    background: #999 url(../img/admin/tool-right.gif) 100% 0 no-repeat;
}

.object-tools a:hover, .object-tools li:hover a {
    background: #5b80b2 url(../img/admin/tool-right_over.gif) 100% 0 no-repeat;
}

.object-tools a.viewsitelink, .object-tools a.golink {
    background: #999 url(../img/admin/tooltag-arrowright.gif) top right no-repeat;
    padding-right: 28px;
}

.object-tools a.viewsitelink:hover, .object-tools a.golink:hover {
    background: #5b80b2 url(../img/admin/tooltag-arrowright_over.gif) top right no-repeat;
}

.object-tools a.addlink {
    background: #999 url(../img/admin/tooltag-add.gif) top right no-repeat;
    padding-right: 28px;
}

.object-tools a.addlink:hover {
    background: #5b80b2 url(../img/admin/tooltag-add_over.gif) top right no-repeat;
}

/* OBJECT HISTORY */

table#change-history {
    width: 100%;
}

table#change-history tbody th {
    width: 16em;
}

/* PAGE STRUCTURE */

#contenedor {
    width: 79%;
}


#container {
 	margin: auto;
 	float: left;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
    width: 100%;
    min-width: 760px;
    padding: 0;
}

#content {

    width: 90%;
    margin: 25px 15px;
    padding: 5px 15px 30px;
    -webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-o-border-radius: 14px;
	border-radius: 14px;
    background: rgba(0, 0, 0, 0.5); /* The Fallback */
    /* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	-moz-box-shadow: 1px 1px 1px 1px #362F2F;
	-webkit-box-shadow: 1px 1px 1px px #362F2F;
	box-shadow: 1px 1px 1px 1px #362F2F;
}

#content-notas {
    color:white;
    width: 80%;
    margin: 5.8% 3%  3%;
    padding: 5px 15px 30px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    background: rgba(0, 0, 0, 0.5); /* The Fallback */
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    -moz-box-shadow: 1px 1px 1px 1px #362F2F;
    -webkit-box-shadow: 1px 1px 1px px #362F2F;
    box-shadow: 1px 1px 1px 1px #362F2F;
}

#content-conf {
    color:white;
    width: 60%;
    margin: 5.8% 3%  3%;
    padding: 5px 15px 30px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    background: rgba(0, 0, 0, 0.5); /* The Fallback */
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    -moz-box-shadow: 1px 1px 1px 1px #362F2F;
    -webkit-box-shadow: 1px 1px 1px px #362F2F;
    box-shadow: 1px 1px 1px 1px #362F2F;
}

#content-conf-formula {
    color:white;
    width: 60%;
    margin: 5.8% 3%  3%;
    padding: 5px 15px 30px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    background: rgba(0, 0, 0, 0.5); /* The Fallback */
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    -moz-box-shadow: 1px 1px 1px 1px #362F2F;
    -webkit-box-shadow: 1px 1px 1px px #362F2F;
    box-shadow: 1px 1px 1px 1px #362F2F;
}

#contentsim {
	margin:0 auto 0 auto;
	left: center;
	width: 60%;
	color:white;
    margin: 5.8% 3%  3%;
    padding: 5px 15px 30px;
    -webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-o-border-radius: 14px;
	border-radius: 14px;
    background: rgba(0, 0, 0, 0.5); /* The Fallback */
    /* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	-moz-box-shadow: 1px 1px 1px 1px #362F2F;
	-webkit-box-shadow: 1px 1px 1px px #362F2F;
	box-shadow: 1px 1px 1px 1px #362F2F;
} 

#contentsim img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#contentsim h2 {
	margin-left: auto;
	margin-right: auto;
}

#content-main {
    float: left;
    width: 100%;
}

#content-related {
    float: right;
    width: 18em;
    position: absolute;
    margin-right: -24em;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#footer {
	position:absolute;
	bottom: 0%;
	width: 100%;
}

/* COLUMN TYPES */

.colMS {
    margin-right: 20em !important;
}

.colSM {
    margin-left: 20em !important;
}

.colSM #content-related {
    float: left;
    margin-right: 0;
    margin-left: -19em;
}

.colSM #content-main {
    float: right;
}

.popup .colM {
    width: 95%;
}

.subcol {
    float: left;
    width: 46%;
    margin-right: 15px;
}

.dashboard #content {
    width: 55%;
}

/* HEADER */

#header {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #ffc;
    overflow: hidden;
    /* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#header a:link, #header a:visited {
    color: white;
}

#header a:hover {
    text-decoration: none;
    color: #ccc
}

#branding h1 {
    padding: 0 10px;
    font-size: 18px;
    margin: 8px 0;
    font-weight: normal;
    color: white;
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}

#user-tools {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 1px 1px #362F2F;
	-webkit-box-shadow: 1px 1px 1px px #362F2F;
	box-shadow: 1px 1px 1px 1px #362F2F;
	background: rgba(200, 200, 200, 0.4);
	display: block;
	margin: auto;
    position: absolute;
    top: 4px;
    right: 8px;
    height: 24px;
	padding-top: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 11px;
    text-align: center;
}

/* SIDEBAR */

#content-related h3 {
    font-size: 12px;
    color: #666;
    margin-bottom: 3px;
}

#content-related h4 {
    font-size: 11px;
}

#content-related .module h2 {
    /*background: #eee url(../img/admin/nav-bg.gif) bottom left repeat-x;*/
    color: black;
}

