<!-- Este es el Template de la pantalla inical del sistema, Es la pantalla donde el usuario escoje que tipo de perfil va a usar-->
{% extends "base_intranet.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Interfaz de Administración' %}{% endblock %}

{% block extrastyle %}{{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
			<ul class="listaprofile">
			<h1>Opciones de Perfiles</h1>
			<h3>Seleccione el perfil que decee utilizar</h3>
				{% for g in grupos %}
				<li>
					<a class="botondb azul" href="{{ g.0|lower }}" >{{ g.0 }}</a>
				</li>
				{% endfor %}
			</ul>
{% endblock %}

