{% extends "base_index.html" %}
{% load i18n adminmedia %}

{% block loguin %} <!-- Formulario -->
<div id="formulario">
	<img src="{% admin_media_prefix %}img/logodelcolegio.png" align="middle"  />
	<h2>Bienvenidos</h2>
	<p>
		Introdusca su usuario y contraseña donde corresponda
	</p>
	<form  autocomplete="on" enctype="multipart/form-data" method="post" action="#public">
		{% csrf_token %}
		<div id="formulario_box">
			<label for="User">{{ form.User.label_tag }}:</label>
			<input  name="User" type="text"  value="" tabindex="1"  placeholder="Usuario" />
			{% if form.User.errors %}
			{% for error in form.User.errors %}
			<p class="error">
				{{ error }}
			</p>
			{% endfor %}
			{% endif %}
		</div>
		</br>
		<div id="formulario_box">
			<label  for="Password">{{ form.Password.label_tag }}:</label>
			<input  name="Password" type="password" value="" maxlength="30" tabindex="2"  placeholder="Contraseña"/>
			{% if form.Password.errors %}
			{% for error in form.Password.errors %}
			<p class="error">
				{{ error }}
			</p>
			{% endfor %}
			{% endif %}
		</div>
		<br />
		<br />
		<button  class="botones botonesverdes">Ingresar</button>
		<a class="botones botonesrojos" href="/">Salir</a>
		<br />
		<br />
		<br />
	</form>
</div>
<!-- end Formulario -->
{% endblock %} 