{% extends "coordinadores/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}
<script type="text/javascript" src="../../../jsi18n/"></script>
<script src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js" type="text/javascript"></script>
{{ media }}
{{ form.media }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />

{% endblock %}

{% block title %} {% trans 'Agregar Docente' %} {% endblock %}

{% block content %}
<h1>Formulario de Matricula</h1>
<h3>Ingrese los datos del alumno a matricular.</h3>
<form action="" method="POST" >{% csrf_token %}
<br/>
<fieldset class="module aligned">
<p>Agregar datos del alumno</p>
<div class="form-row">
    <div class="field-box">
        {{ form.apellido_paterno.errors }}
    {{ form.apellido_paterno.label_tag }}:
        {{ form.apellido_paterno }}
    </div>
    <div class="field-box">
        {{ form.apellido_materno.errors }}
    {{ form.apellido_materno.label_tag }}:
        {{ form.apellido_materno }}
    </div>
    <div class="field-box">
        {{ form.nombre.errors }}
    {{ form.nombre.label_tag }}:
        {{ form.nombre }}
    </div>
</div>

</fieldset>

<div class="module">
        
        <h3></h3>
        <br />
        <button class="botones verdes" type="submit" value="Registrar Docente">Registrar Docente</button>
        <a class="botones rojos" href="../" >Atrás</a>
        <br />
</div>
</form>
<div class="menu-footer">
    <ul class="listaprofile">
                <li>
                    <a class="botonfooter grices" href="/j/profile/coordinadores">Inicio</a> 
                </li>
                <li>
                    <a class="botonfooter azules" href="/j/profile/coordinadores/buscar_alumno">Buscar Alumno</a> 
                </li>
                <li>
                    <a class="botonfooter verdes" href="">Ingresar Docente</a> 
                </li>
    </ul>
</div>

{% endblock %}
