{% extends "coordinadores/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}
<script type="text/javascript" src="../../../jsi18n/"></script>
<script src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js" type="text/javascript"></script>
{{ media }}
{{ form.media }}
<script type="text/javascript" src="{% admin_media_prefix %}/js/jquery.formset.js"></script>
<script type="text/javascript">
    $(function() {
        $('#id_criterios_table tbody tr').formset({
            extraClasses: ['row1', 'row2', 'row3']
        })
    })
</script>
<!-- Here's an example of how you can style add/delete buttons with CSS -->
<style type="text/css">
    .add-row {
        padding-left:18px;
        background:url({% admin_media_prefix %}img/formsets/add.png) no-repeat left center;
    }
    .delete-row {
        float:right;
        display:block;
        margin:5px 0 0 5px;
        text-indent:-6000px;
        background:url({% admin_media_prefix %}img/formsets/delete.png) no-repeat left center;
        width:16px;
        height:16px;
    }
    tr.row1 td { background-color: #f9f9f9; }
    tr.row2 td { background-color: #f3f3f3; }
    tr.row3 td { background-color: #ededed; }
</style>
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />

{% endblock %}

{% block title %} {% trans 'Modificar Alumno' %} {% endblock %}

{% block content %}
<h1>Formulario de Matricula</h1>
<h3>Ingrese los datos del alumno a matricular.</h3>
<form action="" method="POST" >{% csrf_token %}
<br/>
<fieldset class="module aligned">
<p>Agregar datos del alumno</p>
<div class="form-row">
    <div class="field-box">
        {{ form.codigo_educando.errors }}
    {{ form.codigo_educando.label_tag }}:
        {{ form.codigo_educando }}
    </div>
</div>
<div class="form-row">
    <div class="field-box">
        {{ form.apellido_paterno.errors }}
    {{ form.apellido_paterno.label_tag }}:
        {{ form.apellido_paterno }}
    </div>
    <div class="field-box">
        {{ form.apellido_materno.errors }}
    {{ form.apellido_materno.label_tag }}:
        {{ form.apellido_materno }}
    </div>
    <div class="field-box">
        {{ form.nombre.errors }}
    {{ form.nombre.label_tag }}:
        {{ form.nombre }}
    </div>
</div>

<div class="form-row">
    <div class="field-box">
        {{ form.sexo.errors }}
    {{ form.sexo.label_tag }}:
        {{ form.sexo }}
    </div>
    <div class="field-box">
        {{ form.nacimiento.errors }}
    {{ form.nacimiento.label_tag }}:
        {{ form.nacimiento }}
    </div>
</div>

<div class="form-row">
    <div class="field-box">
        {{ form.departamento.errors }}
    {{ form.departamento.label_tag }}:
        {{ form.departamento }}
    </div>
    <div class="field-box">
        {{ form.provincia.errors }}
    {{ form.provincia.label_tag }}:
        {{ form.provincia }}
    </div>
    <div class="field-box">
        {{ form.distrito.errors }}
    {{ form.distrito.label_tag }}:
        {{ form.distrito }}
    </div>
</div>

<div class="form-row">
    <div class="field-box">
        {{ form.lengua_materna.errors }}
    {{ form.lengua_materna.label_tag }}:
        {{ form.lengua_materna }}
    </div>
    <div class="field-box">
        {{ form.lengua_adicional.errors }}
    {{ form.lengua_adicional.label_tag }}:
        {{ form.lengua_adicional }}
    </div>
</div>
<div class="form-row">
    <div class="field-box">
        {{ form.religion.errors }}
    {{ form.religion.label_tag }}:
        {{ form.religion }}
    </div>
    <div class="field-box">
        {{ form.dni.errors }}
    {{ form.dni.label_tag }}:
        {{ form.dni }}
    </div>
</div>
<div class="form-row">
{{ form.selected_dep }}
{{ form.selected_prov }}
</div>
</fieldset>
<fieldset class="module aligned">
<p>Agregar datos de los Padres o Apoderados Legales.</p>    
<div class="form-row">
<div class="field-box">
    <table class="tabla-notas" id="id_criterios_table" border="0" cellpadding="0" cellspacing="5">
        <thead>
            <tr>
                <th scope="col">Familiar</th>
                <th scope="col">Relación</th>
                <th scope="col">Tutor</th>
            </tr>
        </thead>
        <tbody>
            {% for form_a in formset_apoderado.forms %}
            {{ form_a.errors }}
            <tr id="{{ form_a.prefix }}-row">
                <td>{{ form_a.apoderado }}</td>
                <td>{{ form_a.relacion }}</td>
                <td>{{ form_a.tutor }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        {{ formset_apoderado.management_form }}
    </p>
</div>
</div>
</fieldset>
<div class="module">
        
        <h3>Antes de realizar la Matricula verifique los Datos.</h3>
        <br />
        <button class="botones verdes" type="submit" value="Crear Unidades">Matricular</button>
        <a class="botones rojos" href="../" >Atrás</a>
        <br />
</div>
</form>
<div class="menu-footer">
    <ul class="listaprofile">
                <li>
                    <a class="botonfooter grices" href="/j/profile/coordinadores">Inicio</a> 
                </li>
                <li>
                    <a class="botonfooter azules" href="/j/profile/coordinadores/buscar_alumno">Buscar Alumno</a> 
                </li>
                <li>
                    <a class="botonfooter verdes" href="">Ingresar Docente</a> 
                </li>
    </ul>
</div>

{% endblock %}
