{% extends "base_intranet.html" %}
{% load i18n adminmedia %}

{% block title %}{{ title }} | {% trans 'Administración Coordinador' %}{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/coordinadores/changelists.css" />
  {{ media.css }}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a class="titulolink" href="/j/profile/coordinadores/">{% trans 'Administración Coordinadores' %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
