{% extends "coordinadores/base_site.html" %}
{% load adminmedia admin_list tags_alumnos i18n %}

{% block extrahead %}
<style>
  #changelist table thead th:first-child {width: inherit}
</style>
{{ media.js }}
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.init.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/actions.min.js"></script>

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block coltype %}flex{% endblock %}


{% block content %}
<div class="content-bucar-notas">
  <h2>Alumnos Registrados</h2>
  <h3>Aqui puedes buscar informacion sobre los alumnos matriculandos. Tambien puedes matricular alumnos nuevos haciendo click en el boton "Nuevo Alumno"</h3>
  <br />
          <a class="botones verdes" href="../add_alumno/">Nuevo Almuno</a>
          <a class="botones rojos" href="../" >Atrás</a>
</div>

<div class="module filtered" id="changelist">
      <div id="toolbar">
        <form id="changelist-search" action="" method="get">{% csrf_token %}
        <div><!-- DIV needed for valid HTML -->
          <label for="searchbar"><img src="{% admin_media_prefix %}img/admin/icon_searchbox.png" alt="Search" /></label>
          <input type="text" size="40" name="q" value="{{ query|escape }}" id="searchbar" />
          {% if query1 %}
          <input type="hidden" name="c" value="{{ query1|escape }}"/>
          {% endif %}
          {% if query2 %}
          <input type="hidden" name="p" value="{{ query2|escape }}"/>
          {% endif %}
          {% if query3 %}
          <input type="hidden" name="s" value="{{ query3|escape }}"/>
          {% endif %}
          {% if query4 %}
          <input type="hidden" name="e" value="{{ query4|escape }}"/>
          {% endif %}
          <input type="submit" value="{% trans 'Search' %}" />
        </div>
        </form>
      </div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>


      {% block filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            <h3> {% trans 'Por Género' %}</h3>

            <ul>
              <li {% if not query1 %}class="selected"{% endif %}><a href="?{% if query %}q={{ query }}&{% endif %}{% if query2 %}p={{ query2 }}&{% endif %}{% if query3 %}s={{ query3 }}&{% endif %}{% if query4 %}e={{ query4 }}{% endif %}">Todos/as</a></li>

             {% for g in genero %}
             <li {% ifequal query1 carrera.id|escape %} class="selected" {% endifequal %}>
             <a href="?{% if query %}q={{ query }}&{% endif %}{% if query2 %}p={{ query2 }}&{% endif %}{% if query3 %}s={{ query3 }}&{% endif %}{% if query4 %}e={{ query4 }}&{% endif %}c={{ g.0 }}">{{ g.1 }}</a></li>
             {% endfor %}
            </ul>

            <h3> {% trans 'Por Año Ingreso' %}</h3>
            <ul>
             <li {% if not query2 %}class="selected"{% endif %}><a href="?{% if query %}q={{ query }}&{% endif %}{% if query1 %}c={{ query1 }}&{% endif %}{% if query3 %}s={{ query3 }}&{% endif %}{% if query4 %}e={{ query4 }}{% endif %}">Todos/as</a></li>
             {% for anio in anios %}
             <li {% ifequal query2 anio|escape %} class="selected" {% endifequal %}>
             <a href="?{% if query %}q={{ query }}&{% endif %}{% if query1 %}c={{ query1 }}&{% endif %}{% if query3 %}s={{ query3 }}&{% endif %}{% if query4 %}e={{ query4 }}&{% endif %}p={{ anio }}">{{ anio }}</a></li>
             {% endfor %}
             </ul>

{% comment %}             <h3> {% trans 'Por Semestre Ingreso' %}</h3>
             <ul>
             <li {% if not query3 %}class="selected"{% endif %}><a href="?{% if query %}q={{ query }}&{% endif %}{% if query1 %}c={{ query1 }}&{% endif %}{% if query2 %}p={{ query2 }}&{% endif %}{% if query4 %}e={{ query4 }}{% endif %}">Todos/as</a></li>
             {% for semestre in semestres %}
             <li {% ifequal query3 semestre|escape %} class="selected" {% endifequal %}>
             <a href="?{% if query %}q={{ query }}&{% endif %}{% if query1 %}c={{ query1 }}&{% endif %}{% if query2 %}p={{ query2 }}&{% endif %}{% if query4 %}e={{ query4 }}&{% endif %}s={{ semestre }}">{{ semestre }}</a></li>
             {% endfor %}
             </ul>

             <h3> {% trans 'Por Condición' %}</h3>
             <ul>
             <li {% if not query4 %}class="selected"{% endif %}><a href="?{% if query %}q={{ query }}&{% endif %}{% if query1 %}c={{ query1 }}&{% endif %}{% if query2 %}p={{ query2 }}&{% endif %}{% if query3 %}s={{ query3 }}{% endif %}">Todos/as</a></li>
             {% for condicion in condiciones %}
             <li {% ifequal query4 condicion|escape %} class="selected" {% endifequal %}>
             <a href="?{% if query %}q={{ query }}&{% endif %}{% if query1 %}c={{ query1 }}&{% endif %}{% if query2 %}p={{ query2 }}&{% endif %}{% if query3 %}s={{ query3 }}&{% endif %}e={{ condicion }}">{{ condicion }}</a></li>
             {% endfor %}
             </ul>{% endcomment %}
          </div>
      {% endblock %}


      <form method="POST" action="">{% csrf_token %}
          <div class="actions">
              <label>Acción:</label>
              <select name="action">
                  <OPTION selected="selected" value="">---------</OPTION>
                  <OPTION value="print_matricula_selected">Imprimir ficha de matrícula</OPTION>
                  <OPTION value="print_notas_selected">Imprimir ficha de notas</OPTION>
                  <OPTION value="print_carnet_selected">Imprimir carnet de estudiante</OPTION>
                  <OPTION value="promedios_alumnos_selected">Listado de promedios de cursos</OPTION>
                  <OPTION value="promedios_ponderados_alumnos_selected">Lista de promedios ponderados por alumno seleccionado</OPTION>
                  <OPTION value="print_asistencia_selected">Reporte de Asistencias</OPTION>
                  <OPTION value="print_reporte_notas_selected">Reporte de Notas</OPTION>
                  <OPTION value="print_reporte_asistencias_selected">Reporte de Asistencias en PDF</OPTION>
                  <OPTION value="print_historial_academico_selected">Generar Historial Academico</OPTION>
              </select>
              <input class="select-across" type="hidden" name="select_across" value="0">
              <button class="button" name="index" title="Ejecutar la acción seleccionada" type="SUBMIT">Ejecutar</button>
              <script type="text/javascript">
                  var _actions_icnt="100";
              </script>
              <span class="action-counter" style = "display: inline;">{{ n_alumnos }} Matriculados</span>
              <span class="all" style = "display: none;">{{ n_alumnos }} Matriculados seleccionados</span>
              <span class="question" style = "display: none;"><a title="Pulse aquí para seleccionar los objetos a través de todas las páginas" href="javascript:;">Seleccionar todos los {{ n_alumnos }} Alumnos</a></span>
              <span class="clear" style="display: none;"><a href="javascript:;">Limpiar selección</a></span>
          </div>

      {% block result_list %}
     {% if query %}
     <h2>{% trans 'Resultados para' %} "{{ query|escape }}":</h2>
     {% endif %}
     {% if results %}
        <table cellspacing="0">
        <THEAD>
        <TR>
        <TH><input type="checkbox" id="action-toggle" style="display: inline;"></TH>
        <TH>{% trans 'Nº' %}</TH>
        <TH>{% trans 'Apellido Paterno' %}</TH>
        <TH>{% trans 'Apellido Materno' %}</TH>
        <TH>{% trans 'Nombre' %}</TH>
        <TH>{% trans 'Sexo' %}</TH>
        <TH>{% trans 'Edad' %}</TH>
        {% if perms.alumno.change_matriculaciclo %}
        <TH>{% trans 'Editar' %}</TH>
        {% endif %}
        {% if perms.alumno.delete_matriculaciclo %}
        <TH>{% trans 'Eliminar' %}</TH>
        {% endif %}
        </TR>
	</THEAD>
        <TBODY>
        {% for alumno in results.object_list %}
        <TR class="{% cycle 'row1' 'row2' %}">
           <TD><input type="checkbox" name="_selected_action" value="{{ alumno.id }}" class="action-select"></TD>
           <TD><a href="/j/profile/coordinadores/mod_alumno/{{ alumno.id }}/">{{ forloop.counter }}</a></TD>
           <TD>{{ alumno.apellido_paterno|escape }}</TD>
           <TD>{{ alumno.apellido_materno|escape }}</TD>
           <TD>{{ alumno.nombre|escape }}</TD>
           <TD>{{ alumno.sexo }}</TD>
           <TD>{{ alumno.edad|escape }}</TD>
           {% if perms.alumno.change_matriculaciclo %}
           <TD><a class="changelink" href="../../../../matriculaciclo/{{ alumno.id|escape }}/"></a></TD>
           {% endif %}
           {% if perms.alumno.delete_matriculaciclo %}
           <TD><a class="deletelink" href="../../../../matriculaciclo/{{ alumno.id|escape }}/delete/"  onclick="return abrir_popup('../../../../matriculaciclo/{{ alumno.id|escape }}/delete/');"></a></TD>
           {% endif %}
        </TR>
        {% endfor %}
        </TBODY>
        </table>
     {% else %}
        <p>{% trans 'No se encontraron coincidencias' %}</p>
     {% endif %}
      {% endblock %}
      {% block pagination %}
      {% render_paginator 2 3 %}
      {% endblock %}
    </form>
      <br />
        <br />
          <br />
  </div>
  </div>
<div class="menu-footer">
    <ul class="listaprofile">
                <li>
                    <a class="botonfooter grices" href="/j/profile/coordinadores">Inicio</a> 
                </li>
                <li>
                    <a class="botonfooter rojos" href="/j/profile/coordinadores/add_alumno">Matriculas</a> 
                </li>
                <li>
                    <a class="botonfooter verdes" href="">Ingresar Docente</a> 
                </li>
    </ul>
</div>
{% endblock %}
