<!-- Este es el Template de la pantalla inical de la Interfaz para coordinadores-->
{% extends "coordinadores/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}

            <ul class="listaprofile">
            <h1>Interfaz de Coordinador</h1>
            <h2>Seleccione las operaciones a realizar</h2> 
                <li>
                    <a class="botondb azules " href="buscar_alumno/" >AlumnoVer / Registrar</a>
                </li>
                <li>
                    <a class="botondb rojos" href="add_alumno/" >Matrícular Alumno</a>
                </li>
                <li>
                    <a class="botondb verdes" href="add_docente/" >Registrar Docente</a>
                </li>
            </ul>
<a class="botones grices" href="../" >Seleccion<br /> de perfil</a>

{% endblock %}

